---

Answers for Question 4-5-6
---------------

---

#### Import necessary libraries

In [1]:
import pandas as pd
import math as m

##### __Read the csv file and show__

In [2]:
df = pd.read_csv('country_vaccination_stats.csv')

df.head()

     country        date  daily_vaccinations   vaccines
0  Argentina  12/29/2020                 NaN  Sputnik V
1  Argentina  12/30/2020             15656.0  Sputnik V
2  Argentina  12/31/2020             15656.0  Sputnik V
3  Argentina    1/1/2021             11070.0  Sputnik V
4  Argentina    1/2/2021              8776.0  Sputnik V

##### __Fill the missing values with the min values of each country__

In [3]:
df['daily_vaccinations'] = df.groupby(
    'country')['daily_vaccinations'].transform(lambda x: x.fillna(0 if m.isnan(x.min()) else x.min()))

df.head()

     country        date  daily_vaccinations   vaccines
0  Argentina  12/29/2020              6483.0  Sputnik V
1  Argentina  12/30/2020             15656.0  Sputnik V
2  Argentina  12/31/2020             15656.0  Sputnik V
3  Argentina    1/1/2021             11070.0  Sputnik V
4  Argentina    1/2/2021              8776.0  Sputnik V

##### __List the top-3 countries with highest median daily vaccination numbers__

In [4]:
df.groupby('country')['daily_vaccinations'].median().sort_values(
    ascending=False).head(3)

country
United States    378253.0
China            276786.0
India            173922.0
Name: daily_vaccinations, dtype: float64


##### __Vaccinations done on 1/6/2021__

In [5]:
df[df['date'] == '1/6/2021'].sum()['daily_vaccinations']

1485255.0